/* styles for week 8's people.php and people-view.php files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: blanchedalmond;
}



#wrapper {
    max-width: 1000px;
    margin: 30px auto;
}

 
main {
    width: 63%;
    float: left;
}



main {
    width: 34%;
    float: right;
}



footer {
    clear: both;
}