/* styles for week 8's people.php and people-view.php files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}




#wrapper {
    max-width: 1000px;
    margin: 30px auto;
    margin-bottom: 30px;
    overflow: hidden;
}

 
main {
    width: 63%;
    float: left;
}



main {
    width: 34%;
    float: right;
}



footer {
    /* height: 60px;
    line-height: 60px; */
    border-top: 1px dotted brown;
    font-size: 0.9em;
    clear: both;
}



footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 0;
}

footer li {
    justify-content: center;
    margin: 15px;
}

/* typography */
h1 h2 h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.4;
}


ul {
    margin-bottom: 10px;
}


li {
    line-height: 1.3;
}


figcaption {
    font-style: italic;
}